.background-primary {
    background-color: #592A8A
}

.header-bar {
    border-bottom: 2px solid #FFC702;
    min-height: 50px;
    position: relative;
}

.header-logo {
    width: 300px;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
}

.container{
    max-width: 1024px;
    min-height: 50px;
    border: 1px solid black;
}

.footer-bar {
    border-top: 2px solid #FFC702;
    min-height: 50px;
}