.background-primary {
    background-color: #592A8A;
    color: #FFC702;
}

.header-bar {
    border-bottom: 5px solid #FFC702;
    min-height: 50px;
    position: relative;
}

.header-logo {
    width: 300px;
    margin-top: 20px;
}

.container{
    max-width: 1024px;
    min-height: 50px;
}

h4 {
    color: #592A8A;
}

.caption-image {
    height: 170px;
    width: 100%;
}

.information-links {
    text-align: center;
}

.link-wrapper {
    margin-bottom: 10px;
}

.information-image {
    margin-top: 20px;
    height: 150px;
}

.footer-bar {
    border-top: 5px solid #FFC702;
    min-height: 50px;
    text-align: center;
}

.footer-text {
    text-align: center;
}

.footer-links a{
    color: #FFC702;
    padding: 0 10px;
    border-right: 1px solid #FFC702;
    margin-bottom: 10px;
}

.footer-links a:last-child {
    border: none;
}

.footer-links {
    display:inline-block;
}