/*Common Styles*/
.background-primary {
    background-color: #592A8A;
    color: #FFC702;
}

.container{
    max-width: 1024px;
    min-height: 50px;
    font-family: 'Droid-Sans', sans-serif;
    font-size: 15px;
}

/*Header Styles*/
.header-bar {
    border-bottom: 5px solid #FFC702;
    min-height: 50px;
    position: relative;
}

.header-logo {
    width: 340px;
    margin-top: 25px;
}

.caption-text {
    margin-top: 25px;
    font-weight: lighter;
}

.caption-image-container {
    text-align: center;
}

/*Main Content Styles*/
.body-heading {
    color: #592A8A;
    font-family: 'Droid-Serif', serif;
}

.row h4 {
    color: #592A8A;
    font-family: 'Droid-Serif', serif;
    font-size: 20px;
}

.caption-image {
    margin: 5px;
    height: 140px;
    width: auto;
}

.information-links {
    text-align: center;
}

.link-wrapper {
    margin-bottom: 10px;
}

.information-image {
    margin-top: 20px;
    height: 150px;
}

/*Footer Styles*/
footer {
    margin-top: 15px;
}

.footer-bar {
    border-top: 5px solid #FFC702;
    min-height: 50px;
    text-align: center;
}

.footer-text {
    text-align: center;
    margin-top: 15px;
    font-weight: lighter;
}

.footer-links a{
    color: #FFC702;
    padding: 0 10px;
    border-right: 1px solid #FFC702;
    margin-bottom: 10px;
}

.footer-links a:last-child {
    border: none;
}

.footer-links {
    display:inline-block;
    margin-bottom: 15px;
}

/*Mobile Breakpoint*/
@media screen and (max-width: 768px) {
    .header-logo {
        margin-top: 10px;
        width: 280px;
    }
    .caption-text {
        margin-top: 15px;
    }

    .main-body h2 {
        font-size: 28px;
    }
    .main-body h3 {
        font-size: 22px;
    }
}